body {
  width: 98vw;
  height: 98vh;
  background-color: #0a1828;
  color: #bfa181;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}

header {
  width: 98vw;
  padding: 1rem;
  display: flex;
}

.github {
  margin-left: auto;
}
.github img {
  height: 2.5rem;
  width: auto;
}

.content {
  font-size: 2rem;
  text-align: center;
}
