body {
  width: 98vw;
  height: 98vh;
  background-color: #0a1828;
  color: #bfa181;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
}

header {
  width: 98vw;
  padding: 1rem;
  display: flex;
  font-size: 1.3rem;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.links a {
  color: #bfa181;
}

.content {
  font-size: 2rem;
  text-align: center;
}
